<section class="testimonial">
    <div class="container">

        <!-- Heading -->
        <div class="heading-block white">
            <h3>What Our Customers Say</h3>
            <hr>
        </div>

        <!-- Slider -->
        <div class="slider-sec">
            <div id="testi-slide">

                <!-- Slide -->
                <div class="item">
                    <div class="tesi-text">
                        <div class="avatar"><img src="../../media/images/comments-avatar-2.jpg" alt=""></div>
                        <p>The design is great, the code is easy to modify.
                            As a developer it was easy for me to understand and modify the code - it was
                            organised, well documented, and used correct conventions.

                            It was delightful to see such a professional job. </p>
                        <h6>- OliverKraus -</h6>
                        <span>Themeforest</span></div>
                </div>
                <div class="item">
                    <div class="tesi-text">
                        <div class="avatar"><img src="../../media/images/comments-avatar-2.jpg" alt=""></div>
                        <p>Superb customer support! I have purchased a few themes and M_Adnan is very fast and
                            polite. Great template, author is very helpful, best customer support ever! Very
                            nice looking theme and easy to customise once you get hang of page builder.

                            Highly recommend! </p>
                        <h6>- Websonic75 -</h6>
                        <span>ThemeForest</span></div>
                </div>
            </div>
        </div>
    </div>
</section>