<section id="faca-parte" class="lookin-pro" style="background: url({{ faca_parte.background_image.url }}) no-repeat;">
    <div class="container">

        <!-- Heading -->
        <div class="heading-block white margin-bottom-20">
            <h4>- {{ faca_parte.title_1 }} - </h4>
            <h3> {{ faca_parte.title_2 }}</h3>
            <hr>
        </div>
        <div class="intro-small col-md-11 center-auto margin-bottom-0">
            <p>{{ faca_parte.text }}</p>
        </div>
        <div class="text-center"><a href="{{ faca_parte.link_1 }}" class="btn animate fadeInUp"
                                    data-wow-delay="0.4s">{{ faca_parte.text_link_1 }}</a>
            <a href="{{ faca_parte.link_2 }}" class="btn animate fadeInUp"
               data-wow-delay="0.4s">{{ faca_parte.text_link_2 }}</a></div>
    </div>
</section>