<section id="nossa-solucao" class="our-main-ser pad-t-b-130 padding-bottom-90">
    <div class="container">
        <!-- Heading -->
        <div class="heading-block margin-bottom-20">
            <h4>- {{ about_services.title_1 }} - </h4>
            <h2>{{ about_services.title_2 }}</h2>
        </div>
        <div class="intro-small col-md-8 center-auto">
            <p>{{ about_services.text }}</p>
        </div>

        <!-- OUR SERVICES LIST -->
        <div class="nolist-style">
            <ul class="row">

                {% for it in services %}
                    <li class="col-sm-4"><i class="{{ it.class_icon }} animate fadeInUp" data-wow-delay="0.4s"></i>
                        <h6>{{ it.title }}</h6>
                        <p>{{ it.text }}</p>
                        {% if it.link %}
                            <a class="btn animate fadeInUp" data-wow-delay="0.4s"
                               href="{{ it.link }}">{{ it.text_link }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>