<section class="portfolio port-wrap pad-t-b-130">
    <div class="container">

        <!-- Heading -->
        <div class="heading-block margin-bottom-30">
            <h3>our Latest Portfolio</h3>
            <hr>
        </div>
        <div class="intro-small col-md-8 center-auto">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                when looking at its layout..</p>
        </div>

        <!-- PORTOFLIO ITEMS FILTER -->
        <ul class="portfolio-filter">
            <li><a class="active" href="#." data-filter="*">All</a></li>
            <li><a href="#." data-filter=".brand">Branding </a></li>
            <li><a href="#." data-filter=".web">Web Design</a></li>
            <li><a href="#." data-filter=".mob-app">Mobile App</a></li>
            <li><a href="#." data-filter=".photo">Photography </a></li>
        </ul>

        <!-- Item Start -->
        <div class="items with-space col-3 popup-gallery">

            <!-- ITEM -->
            <div class="cbp-item portfolio-item web mob-app photo ui">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-1.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-1.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_1.html">Creative Design Layout</a></h4>
                            <p>Design & Fun</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Item -->
            <div class="cbp-item portfolio-item brand web mob-app">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-2.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-2.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_2.html">Creative Design Layout</a></h4>
                            <p>Photoshop</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Item -->
            <div class="cbp-item portfolio-item web photo ui">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-3.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-3.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_3.html">Back to School</a></h4>
                            <p>Fashion & Style</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Item -->
            <div class="cbp-item portfolio-item mob-app photo ui">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-4.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-4.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_4.html">Creative Design Layout</a></h4>
                            <p>Photography</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Item -->
            <div class="cbp-item portfolio-item mob-app photo">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-6.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-6.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_1.html">Creative Unique Ideas</a></h4>
                            <p>Interior</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Item -->
            <div class="cbp-item portfolio-item mob-app photo ui">
                <article>
                    <div class="portfolio-image"><img alt="" src="../../media/images/img1-5.jpg">
                        <div class="portfolio-overlay"></div>
                        <div class="position-bottom"><a href="../../media/images/img1-5.jpg"
                                                        class="img-pop icon" title=""><i
                                class="icon-magnifier"></i></a>
                            <h4><a href="single_project_2.html">Creative Design Layout</a></h4>
                            <p>Photography</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <!-- LOAD MORE -->
        <div class="text-center margin-top-50 animate fadeInUp" data-wow-delay="0.4s"><a
                href="portfolio_1-4-col.html" class="btn btn-inverse">CHECK OUT MORE PORTFOLIO</a></div>
    </div>
</section>