<!-- About Sec -->
<section id="quem-somos" class="about-ser pad-t-b-130">
    <div class="container">

        <!-- Heading -->
        <div class="heading-block margin-bottom-20">
            <h4>- {{ nmvv.business_title_1 }} - </h4>
            <h2>{{ nmvv.business_title_2 }}</h2>
        </div>
        <div class="intro-small col-md-10 center-auto">
            <p>{{ nmvv.business_text }}</p>
        </div>
        <div class="share-box text-center clearfix">
            <section>
                {% for it in social %}
                    <a href="{{ it.social_network_link }}" target="_blank" title="Conecte-se pelo {{ it.social_network_name|title }}">
                        <i class="fa fa-{{ it.social_network_name }}"></i>
                    </a>
                {% endfor %}
            </section>
            <div style="clear:both"></div>
        </div>
       {% comment %} <div class="row">
            <div class="col-sm-4">
                <article><i class="flaticon-light-bulb animate fadeInLeft" data-wow-delay="0.4s"></i>
                    <h3>{{ nmvv.mission_title }}</h3>
                    <p>{{ nmvv.mission_text }}</p>
                    <a href="{{ nmvv.mission_link }}">{{ nmvv.mission_text_link }}</a></article>
            </div>
            <div class="col-sm-4">
                <article><i class="flaticon-targeting animate fadeInLeft" data-wow-delay="0.4s"></i>
                    <h3>{{ nmvv.vision_title }}</h3>
                    <p>{{ nmvv.vision_text }}</p>
                    <a href="{{ nmvv.vision_link }}">{{ nmvv.vision_text_link }}</a></article>
            </div>
            <div class="col-sm-4">
                <article><i class="flaticon-layers-1 animate fadeInLeft" data-wow-delay="0.4s"></i>
                    <h3>{{ nmvv.values_title }}</h3>
                    <p>{{ nmvv.values_text }}</p>
                    <a href="{{ nmvv.values_link }}">{{ nmvv.values_text_link }}</a></article>
            </div>
        </div>{% endcomment %}
    </div>
</section>